@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: IRANSans;
      src: local("IRANSans"), url("./font/IRANSans/IRANSans_Light.ttf");
      font-display: "swap";
    }
    html{
        overflow-x: hidden;
    }
    body{
        direction: rtl;
       font-family: IRANSans; 
      }
  }

@layer components{
    .nav-list_container{
     @apply flex items-center gap-2 child:px-4 child:py-3 text-xs text-primary-gray font-bold child:transition-all child:flex child:items-center child:gap-2   
    }
    .nav-list_item{
        @apply rounded-md hover:bg-black/5 hover:text-black/85
    }
    .input{
       
        @apply bg-transparent border-none focus:border-none focus:shadow-nav
        outline-none transition-all;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.12) !important;
    }
    .nav-search_input{
        
        @apply input  focus:bg-white ;
        
    }
    .category-list_items{
        @apply leading-6 w-48 my-2 flex flex-col child:py-1.5 text-primary-gray/65  child:flex child:gap-2 child:transition-all child:duration-[360ms] hover:child:text-black/100  text-normal
    }
   
    .subset-cat.active{
        @apply text-primary_red font-semibold ;
        border-color: rgb(166 38 38) !important;
    }
}  