@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: IRANSans;
      src: local("IRANSans"), url("./font/IRANSans/IRANSans_Light.ttf");
      font-display: "swap";
    }
    html{
        overflow-x: hidden;
    }
    body{
        direction: rtl;
       font-family: IRANSans; 
      }
  }

@layer components{
    .nav-list_container{
     @apply flex items-center gap-2 child:px-4 child:py-3 text-xs text-primary-gray font-bold child:transition-all child:flex child:items-center child:gap-2   
    }
    .nav-list_item{
        @apply rounded-md hover:bg-black/5 hover:text-black/85
    }
    .input{
       
        @apply bg-transparent border-none focus:border-none focus:shadow-nav
        outline-none transition-all;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.12) !important;
    }
    .nav-search_input{
        
        @apply input  focus:bg-white ;
        
    }
    .category-list_items{
        @apply leading-6 w-48 my-2 flex flex-col child:py-1.5 text-primary-gray/65  child:flex child:gap-2 child:transition-all child:duration-[360ms] hover:child:text-black/100  text-normal
    }
    .top-bar_category .category-list_items{
        @apply text-primary-gray child:flex child:justify-between child:items-center child:px-2 child:mb-2 child:child:flex child:child:items-center  child:child:gap-2 
    }
    .top-bar_category .category-list_items a:hover{
        @apply bg-primary-gray/5 text-primary-gray
    }
    .subset-cat.active{
        @apply relative text-primary_red
    }
    .subset-cat.active::before{
        content: "";

        @apply absolute bg-primary_red font-semibold w-0.5 h-4/5 top-0 right-0;
        
    }
    .navbar-category_subset{
        @apply flex text-normal flex-col gap-2 text-primary-gray first-of-type:child:font-semibold first-of-type:child:mb-2 first-of-type:child:text-normal child:transition-all
    }
    .navbar-category_subset a:not(:first-of-type):hover{
        @apply text-primary_red
    }
}  